/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

html {
  scroll-behavior: smooth
}
* {
  font-family: 'Nunito', sans-serif;
}
.header {
  background-color: #f07167;
}
.header__burger {
  display: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.nav {
  padding: 25px;
}
.menu {
  margin: 0 4.9%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.menu_link {
  /* font-size: 16px; */
  font-size: 1rem;
  color: #fff;
  letter-spacing: 2.2px;
  transition: 0.3s;
}
.menu_link {
  position: relative;
}
.menu_link:before {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  left: -20px;
  bottom: 10px;
  background-color: #fff;
  transition: width ease-in-out 0.3s;
}
.menu_link:hover:before {
  width: 10px; 
}
.menu_link:after {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  right: -17px;
  bottom: 9px;
  background-color: #fff;
  transition: width ease-in-out 0.3s;
}
.menu_link:hover:after {
  width: 10px; 
}
.menu_link:hover {
  color: #f0f600;
}

.name {
  margin-top: 49px;
  font-family: 'Alex Brush', cursive;
  /* font-size: 70px; */
  font-size: 4.375rem;
  color: #f07167;
  margin-left: 64px;
}
.avatar {
  width: 350px;
  height: 450px;
  border-radius: 10px;
}
.about {
  /* padding: 45px 18.5% 10px; */
  padding-top: 45px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.info {
  max-width: 560px;
}

.info > * {
  margin-left: 80px;
}

.info .name {
  margin-left: 64px;
}

.subtitle {
  margin-top: 10px;
  /* margin: 10px 0 0 81px; */
  /* font-size: 20px; */
  font-size: 1.25rem;
  font-weight: bold;
}
.title {
  /* font-size: 24px; */
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 60px;
  /* margin: 60px 0 0 80px; */
  color: #f07167;
}
.descr {
  /* font-size: 18px; */
  font-size: 1.125rem;
  margin-top: 18px;
  /* margin: 18px 0 0 80px; */
  max-width: 26.5em;
}
.experience_wrapper,
.lang-code_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 11%;
  flex-wrap: wrap;
}
.exp_left,
.exp_right {
  padding: 0 10px;
}
.skills_list {
  margin-top: 18px;
  /* margin: 18px 0 0 180px; */
}
.skills_list li,
.lang_list li {
  /* font-size: 18px; */
  font-size: 1.125rem;
  margin-bottom: 15px;
}
.skills_list li:before,
.lang_list li:before {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
	margin-right: 15px;
  background-color: #f07167;
}
/* .experience,
.lang-code {
  padding: 0 55px;
} */
.exp_right .title {
  margin-top: 60px;
  /* margin: 60px 0 0 180px; */
}
.exp_left .subtitle {
  margin-top: 28px;
}
.exp_left .descr:nth-child(5) {
  margin-top: 7px;
}
.code {
  padding: 0 10px;
  display: flex;
  justify-content: space-around;
  gap: 44px;
}
.lang {
  padding: 0 10px;
  width: 250px;
}
.lang .title {
  margin-top: 60px;
  /* margin: 60px 0 0 36px; */
}
.lang_list {
  margin-top: 18px;
  /* margin: 18px 0 0 36px; */
}
.code_exp {
  margin: 60px 0 0 0;
  padding: 20px 80px;
  font-size: 1rem;
  line-height: 22px;
  background-color: #cad2c5;
  opacity: 0.6;
  color: black;
}
.code_descr .descr {
  font-weight: bold;
}
.projects {
  padding: 0 120px;
}
.projects .title {
  text-align: center;
  margin: 60px 0 30px 0;
}
.projects_wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 20px;
}
.projects_img {
  width: 240px;
  height: 165px;
  /* width: 350px;
  height: 250px; */
  border-radius: 10px;
  transition: transform 0.5s ease;
}
.div {
  margin-top: 10px;
  display: flex;
  gap: 20px 45px;
  flex-wrap: wrap;
  justify-content: center;
}
.border {
  display: inline-block;
  /* margin: 30px 0 0 53px; */
  border: 1px solid #d3d3d3;
  border-radius: 10px;
}
.projects_img:hover {
  transform: scale(1.4); 
}
.contacts .title {
  text-align: center;
  margin: 50px 0 30px 0;
}
.contacts_wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.contact_item {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}
.contact_item:hover {
  transform: scale(1.1); 
}
.footer {
  margin-top: 50px;
  padding-top: 6px;
  background-color: #f07167;
  height: 80px;
}
.footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.github {
  width: 70px;
  height: 70px;
  transition: transform 0.3s ease;
}
.rsschool {
  width: 140px;
  transition: transform 0.3s ease;
}
.github:hover,
.rsschool:hover {
  transform: scale(1.03); 
}
.footer_year {
  /* font-size: 22px; */
  font-size: 1.375rem;
  color: #fff;
  letter-spacing: 2.2px;
  margin-left: 30px;
}
.my {
  /* font-size: 42px; */
  font-size: 2.625rem;
  font-family: 'Alex Brush', cursive;
  color: #fff;
}
.my:hover {
  color: #f0f600;
}

@media screen and (max-width: 1140px) {
  .experience_wrapper,
  .lang-code_wrapper {
    margin: 0 5%;
  }
}

@media screen and (max-width: 1040px) {
  .projects {
    padding: 0 2%;
  }
}

@media screen and (max-width: 980px) {
  html {
    font-size: 14px;
  }
  .info > * {
    margin-left: 60px;
  }
  
  .info .name {
    margin-left: 44px;
  }
}

@media screen and (max-width: 900px) {
  .avatar {
    width: 300px;
    height: 400px;
  }
}

@media screen and (max-width: 850px) {
  .menu {
    margin: 0 40px;
  }
  .about {
    justify-content: start;
    padding: 10px;
    padding-top: 20px;
  }
  .info > * {
    margin-left: 0;
  }
  .info .name {
    margin-left: 0;
  }
  .info {
    margin: 0 5%;
  }
  .avatar {
    opacity: 0.5;
    position: absolute;
    right: 20px;
  }
  .experience_wrapper .title,
  .lang-code_wrapper .title {
    margin-top: 40px;
  }
  .projects_img {
    width: 215px;
    height: 155px;
  }
  .github {
    width: 60px;
    height: 60px;
  }
  .rsschool {
    width: 120px;
  }
  .code_exp {
    padding: 14px 50px;
  }
}

@media screen and (max-width: 768px) {
  
}